.FindingsPage-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0.5rem 0;
  background-color: #fff;

  .Findings-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Findings-col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.5rem;
  }
}
